@font-face {
    src: url('Exo2-Bold.ttf');
    src: url('BAUHS93.TTF');
}

#mainvbox {
	-fx-background-image: url('Background.png');
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
   	-fx-alignment: center;
   	/*-fx-spacing: 30px;*/
}

#titletext {
    -fx-font-family: 'Exo 2';
    -fx-font-size: 240px;
    -fx-fill: linear-gradient(from 0% 0% to 100% 0%, black 48%, white 48%);
}

#subtitle {
	-fx-font-family: 'Bauhaus 93';
    -fx-font-size: 50px;
    -fx-fill: linear-gradient(from 0% 0% to 100% 0%, white 48%, black 48%);
}

.mainbutton {
	-fx-font-size: 40;
	-fx-background-radius: 50;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#spbutton {
	-fx-padding: 20 250;
}

#mpbutton {
	-fx-padding: 20 281;
}

#instrubutton {
	-fx-padding: 20 275;
}

#halfbuttons {
	-fx-alignment: center;
	-fx-spacing: 30px;
}

#halfbuttonquit {
	-fx-padding: 20 90;
}

#halfbuttonsettings {
	-fx-padding: 20 110;
}